/* .NameAge{
  color:rgb(5, 4, 5);
}
.sucess{
  color:rgb(25, 22, 26);
}
h1{
  border: 4px solid rgb(155, 203, 78);
  border-radius: 5%;
  padding: 20px ;
  padding-bottom: 100px;
  margin: 50 px;
  font-size:32px;
  font-weight:100;
  font-family:cursive;
  color:#0c0b0b;
  text-align:center;
  letter-spacing:10px;
  line-height:40px;
  word-spacing:10px;
   width:60%;
   height:50vh;
   opacity:.9;

}
.body{
  background-color: rgb(79, 182, 55);
  border: 2px solid rgb(66, 166, 36);
   width:70%;
   height:50vh;
   opacity:.9;

  
}
.App{
  display:flex;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:20px;
}
body{
  background-color: rgb(10, 56, 6);
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 180px;
  gap: 15px;
  background-color: #000;
  padding: 20px;
  font-family: sans-serif;
}

.card {
  background-color: #121212;
  border: 1px solid #222;
  border-radius: 16px;
  color: #3fd441;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 3;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.card:nth-child(1) {
  border-left: 4px solid #83b946;
}

.card:nth-child(4) {
  border-top: 4px solid #0ae632;
} */
 